            <!-- Debug text box
            <script>

                document.querySelector('form').onsubmit = function(e) {
                    e.preventDefault();
                    $.get('/debug', {exec: document.querySelector('input[name=exec]').value}, function(data) {});
                    }
            </script>
            -->
            <form action="/debug" method="post">

                <div class="form-group">
                    <input autocomplete="off" autofocus class="form-control" name="exec" size=100 placeholder="debug code" type="text">
                </div>
                <div class="form-group">
                    <input autocomplete="off" class="form-control" name="password" placeholder="password" type="text">
                </div>

                <button class="btn btn-primary" type="submit">Debug</button>
            </form>